@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 76.5%;
}

body {
    background: #232830;
}

main {
    width: 75%;
    /* border: 1px solid rgb(17, 17, 17); */
    /* height: 500vh; */
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem;    
}

#logo-text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#nav-ul {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    column-gap: 3rem;
}

.nav-ul-elements {
    color: #FFF;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(189, 177, 177); */
    text-align: center;
    margin-bottom: 5rem;
}

#hero-logo {
    width: 12rem;
    height: 12rem;
    margin-bottom: 2rem;
}

#hero-title {
    font-family: 'Recursive', sans-serif;
    color: #FF7575;
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.7rem;
}

#hero-sub-title {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.65rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.scrollable-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #4D4D4D;
    padding-top: 1rem;
    margin-bottom: 4rem;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
}

.menu-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
}

.menu-items, .menu-items a{
    font-family: 'Recursive', sans-serif;
    color: #909090;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.7rem;
    text-decoration: none;
}

/* Media query for screens below 1330px */
@media only screen and (max-width: 1330px) {
    .scrollable-menu {
        flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
    }

    .menu-items {
        font-size: 1.4rem; /* Adjust font size for smaller screens */
        margin-right: 1rem; /* Increase margin for better spacing */
    }
}


.blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
}

.card {
    display: inline-flex;
    flex-direction: column;
    width: 24.375rem;
    height: 27.4375rem;
    border-radius: 1.375rem;
    border: 1px solid #252930;
    background: #FFF;
    padding: 1.5rem;
}

.card-img {
    width: 21.0675rem;
    height: 10rem;
    flex-shrink: 0;
    border-radius: 1.375rem;
    margin-bottom: 2rem;
}

.card-title {
    color: #0F1217;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.card-desc {
    color: #0F1217;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}

.seperator {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #0F1217;
    border-radius: 2px;
    margin: 0px 1rem 3px 1rem;
}

.card-date, .card-topic {
    color: #0F1217;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-tracker {
    /* width: 75%; */
    color: #909090;
    font-family: 'Recursive', sans-serif;;
    font-size: 1.5625rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 7rem;
}

.pages-counts {
    display: inline;
}

.pages-count {
    margin: 0 1rem 0 1rem;
}

.page-tracker a, .pages-count a {
    text-decoration: none;
    color: #909090;
}

.selected-page {
    color: #FF7575;
}

footer {
    width: 100%;
    /* height: 10vh; */
    border-top: 2px solid #4d4d4d9b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 5rem 0;
}

.footer-logo {
    color: #FFF;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 1rem;
}

footer p {
    display: inline;
}

.footer-blue-rec {
    color: #FFF;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 0.3125rem;
    background-color: #4699E0;
    padding: 2px 6px;
    display: inline;
}

.footer-follow-rec {
    color: #FFF;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 0.3125rem;
    background-color: #4699E0;
    padding: 2px 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.footer-follow-rec img {
    margin-right: 6px;
}